body {
    background-color: #82f7ab;
}
.navbar-custom{
    background: #14FF66;
}
.footer-custom{
    background: #14FF66;
    padding: 20px;
}

.navbar .btn{
    background-color: #198754;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: 0.3s;
}

.navbar .btn:hover{
    background-color: #157347;
}
.navbar .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.navbar-brand{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
}


section{
    min-height: 400px;
}
.card{
    transition: 0.3s;
}
.card:hover{
    transform: scale(1.05);
}
.imagen-seleccion{
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
}

.contenedor-selecciones{
    position: relative;
    height: 650px;
}
.italia{
    position: absolute;
    top: 7px;
    left: 70px;
}
.italia img{
    width: 295px;
}

.brasil{
    position: absolute;
    top: 20px;
    left: 650px;
}
.brasil img{
    width: 455px;
}
.argentina{
    position: absolute;
    top: 390px;
    left: 300px;
}

.argentina img{
    width: 450px;
}

.imagen-seleccion{
    width: 240px;
    cursor: pointer;
    transition: 0.3s;
}
.imagen-seleccion:hover{
    transform: scale(1.05);
}
.texto-catalogo{
    margin-bottom: 30px;
    font-size: 1.1rem;
}
.img-detalle{
    max-width: 500px;
    width: 340px;
    cursor: zoom-in;
    transition: 0.3s;
}
.img-detalle:hover{
    transform: scale(1.2);
}
.logo-navbar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor:pointer;
}
.imagen-equipo{
    width: 240px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.imagen-equipo:hover{
    transform: scale(1.05);
}
.contenedor-equipos{
    position: relative;
    height: 800px;
}
.independiente{
    position: absolute;
    top: 10px;
    left: 150px;
}
.river{
    position: absolute;
    top: 100px;
    left: 800px;
}
.barcelona{
    position: absolute;
    top: 450px;
    left: 80px;
}

.independiente img{
    width: 460px;
}
.river img{
    width: 350px;
}
.barcelona img{
    width: 400px;
}
.img-compra{
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
}
